<section class="finish">
  <strong>All required questions are answered</strong><br>
	<div class="bottom-navigation">
    <button type="button" {{on 'click' this.previousQuestion}}>Previous</button>
    <button type="button"  {{on 'click' this.questionnaireHelper.backToQuestionnaires}}>Finish</button>
	</div>
</section>